* {
  margin:                 0;
  padding:                0;
  box-sizing:             border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Questrial', sans-serif;
}

html, body {
  width:    100%;
  height:   100%;
  overflow: auto;
}

body {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color:       #000;
  font-family: 'Questrial', sans-serif;
}

h1{
  font-size: 24px;
}

p {
  color:       rgba(0, 0, 0, 0.65);
  line-height: 1.4;
  font-size:   16px;
}

a {
  color:              inherit;
  -webkit-transition: color 0.5s ease;
  -moz-transition:    color 0.5s ease;
  -ms-transition:     color 0.5s ease;
  -o-transition:      color 0.5s ease;
  transition:         color 0.5s ease;
}

a:hover, a:hover h4 {
  color: #FFDB95;
}

/* me ----------------------------------------------------------------------------------------------------------------*/

.me {
  width:             100%;
  max-width:         480px;
  text-align:        center;
  margin:            0 auto;
  padding:           40px 20px;
  position:          relative;
  top:               50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);
}

.me img {
  width:         70px;
  height:        70px;
  border-radius: 50%;
}

.me h1 {
  margin: 20px 0;
}

.me ul {
  list-style: none;
  margin:     40px auto 0 auto;
  display:    inline-block;
  overflow:   hidden;
}

.me ul li {
  float: left;
}

.me ul a {
  float:           left;
  margin-right:    20px;
  color:           rgba(0,0,255,0.75);
  font-size:       20px;
  text-decoration: none
}

.me ul a:hover {
  color:           rgba(0,0,255,1);
}

.me ul li:last-child a {
  margin-right: 0;
}
